.home-style{
 background-color: #F5F5F9;
}

.restaurant-name{
  white-space: nowrap;
  display: inline;
  padding-left: 1em;

}

.bg-color-header{
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 1px #00000029;
}

.food-type-component{
  background-color: #FFFFFF;
  box-shadow: 5px 5px 10px 1px #00000029;
  border-radius: 40px;
  height: 116px;
  width: 76px;
  display: inline-block;
  padding: 8px;
  margin: 1em;

}

.divimg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #B2B2B2;
  background-color: #F8F8F7;
}

.food-img{
  height: 32px;
  width: 32px;
  object-fit:cover;
}

.food-type-text{
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: #414B5C;
  text-align: center;
  padding-top: 1em;
}

.food-type-component.active{
  background-color: #3EA920 !important;
  color:red !important;
}

#foodtypes{
  height: 200px;
  overflow: auto;
  white-space: nowrap;
}

.food-detail-img{
  height: 60%;
  width: 100%;
  object-fit:cover;
  border-radius: 8px;
}

.div-details{
  position: relative;
  top: -10px;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px 1px #00000014;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.food-detail-name{
  font-weight: bold;
  color:#414B5C;
  font-size: 16px;
  display: flex;
}

.food-detail-price{
  color:#414B5C;
  font-size: 12px;
  display: flex;

}

.sell-btn{
  border: 1px solid #F9CB39;
  background-color: #F9CB391A;
  border-radius: 4px;
}

/* override class in bootstrap */
.dropdown-toggle{
  border:none !important;
  outline: none !important;
  background-color: #fff !important;
  color:#414B5C !important;
}
