body{
  /* font-family: 'Bungee Inline', cursive !important; */
  font-family: 'Nunito', sans-serif !important;
}

.home-style {
 background-color: #F5F5F9;
}

.lang-img{
  height: 20px;
  width: 20px;
}

.restaurant-name{
  white-space: nowrap;
  display: inline;
  padding-left: 1em;
}

.logo-img{
height: 40px;
width: 51px;
}

.bg-color-header{
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 1px #00000029;
}

.food-type-component{
  background-color: #FFFFFF;
  box-shadow: 5px 5px 10px 1px #00000029;
  border-radius: 40px;
  height: 116px;
  width: 76px;
  display: inline-block;
  padding: 8px;
  margin: 5px;
}

.divimg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #B2B2B2;
  background-color: #F8F8F7;
}

.food-img{
  height: 32px;
  width: 32px;
  object-fit:cover;
}

.food-type-text{
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: #414B5C;
  text-align: center;
  padding-top: 1em;
  max-width: 60px;
  overflow: hidden;
}

.food-type-component.active,.food-type-component:hover{
  background-color: #3EA920 !important;
}

.food-type-component.active .food-type-text,.food-type-component:hover .food-type-text{
  color:#fff !important;

}

#foodtypes{
  height: 150px;
  overflow: auto;
  white-space: nowrap;
  margin-left:11px;
  padding-top: 14px;

}
.food-detail-div{
  height: 300px;
}

.food-detail-img{
  height: 60%;
  width: 100%;
  object-fit:cover;
  border-radius: 8px;
}

.div-details{
  position: relative;
  top: -10px;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px 1px #00000014;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.food-detail-name{
  font-weight: bold;
  color:#414B5C;
  font-size: 16px;
  display: flex;
  text-transform: capitalize;
}

.food-detail-price{
  color:#414B5C;
  font-size: 12px;
  display: flex;
}

.hidden{
  display: none !important;
}

.sell-btn{
  border: 1px solid #F9CB39;
  background-color: #F9CB391A;
  border-radius: 4px;
}

.sell-btn-math{
  border: 1px solid #D9D9D9;
  background-color: #F9CB39;
  border-radius: 4px;
}

.sell-btn-amount{
  border: 1px solid #D9D9D9;
  background-color: #EAEAEA;
  border-radius: 4px;
  margin-left: 3px;
  margin-right: 3px;
  color: #414B5C;
  font-size:12px;
}

/* override class in bootstrap */
.dropdown-toggle{
  border:none !important;
  outline: none !important;
  background-color: #fff !important;
  color:#414B5C !important;
}

.lang-nav{
  flex-direction: row;
  display: none;
}
.lang-btn{
  margin: 0.2em;
  padding: 0.2em;
  outline: none;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 1px #00000014;

}

/* overlay layer */
.content{
  margin-top: 5em !important;
  background-color: #fff;
  border-radius: 10px;
}

.img-details{
  height: 500px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.title-details{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: #414B5C;
  padding:0.5em;
  text-transform: uppercase;
}

.tag{
  margin:1em;
  padding:0.5em !important;
  box-shadow: 2px 5px 10px 1px #EAEAE5;
  border-radius: 10em;

}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(119, 115, 115, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .close-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  z-index: 5;
  background-color: #3EA920;
  box-shadow: 2px 5px 10px 1px #00000026;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color:#fff;
  text-decoration: none;

}

@media screen and (max-width:765px){
  .img-details{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
}


@media screen and (min-width:756px){
  .lang-nav{
    display: flex;
  }
  .dropdown-hidden{
    visibility: hidden;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .close-btn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.text-btn-result{
  font-size: 22px;
  font-weight: bold;
  padding:0.5em;
}
/* overlay layer */
.result-btn{
  display: flex;
  justify-content: center;
  /* justify-items: s; */
  height: 76px;
  width: 202px;
  color:#FFFFFF;
  box-shadow: 0px 3px 6px 1px #00000029;
  border-radius: 40px;
  position: fixed;
  bottom: 50px;
  align-self: center;
  outline: none !important;
  padding:15px;
  background-color:#25D366;
  background: linear-gradient(90deg,  rgba(18, 140, 126, 1) 0%, rgba(37, 211, 102, 1) 100%);
  border: none !important;
  z-index: 1;
}

.footer-img{
  height:50px;
  width: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}